*{
    padding: 0;
    margin: 0;
}

.all-container{
    max-width: 84%;
    margin: 0 auto;
    box-sizing: border-box;
   

}
.main-container{
    max-width: 78%;
    margin:0 auto;
    box-sizing: border-box;
}
.popular-container{
    max-width: 73%;
    margin: auto;
}
.margin-t{
    margin-top: 87px;
}
/* needed-style-css */
.d-flex{
    display: flex;
}
.justify{
    justify-content: space-between;
}
.a-items{
    align-items: center;
}
.gap{
    margin-left: 40px;
}

.t-color-1{
    color: #3A3A3A;
    font-family: "Poppins", sans-serif;
}

.section-m-t{
    margin-top: 100px;
}
img{
    width: 100%;
}


/* header-bar/navbar-style */

.logo-heading{
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-list{
    list-style: none;
    
}

.menu-list a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #3A3A3A;
    font-family: "Poppins", sans-serif;
}
.menu-list, i{
    font-size: 1.2rem;
    color: #3A3A3A;
}

/* banner-section- */
.banner-content{
    max-width: 582px;
}
.banner-title{
    font-size: 3.1rem;
    font-weight: 900;
    line-height: 70px;
}
.banner-discreption{
    font-size: 1rem;
    font-weight: 400;
    margin: 16px 0;

}
.btn{
    background-color: #E02C6D;
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
    border: none;
}
.btn a{
    color: white;
    font-size: 1rem;
    font-family: "Poppins" sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.btn i{
    color: white;
    font-size: 1rem;
    margin-left: 10px;
}
.banner-image{
    
    max-width: 50%;
    background-image: url('../image/Circledesign.svg');
    
    background-repeat: no-repeat;
    background-position: center;
   
    border: 2px solid green;
    
    
    
}

.banner-image{
    max-width: 540px;
    padding: 50px;
}
/* brand-section-start */

.brand{
    display: flex;
    justify-content: space-between;
    
    
}
/* brand-section-end */
/* popular-section-start */
.popular-title{
    
    text-align: center;
    font-size: 1.8rem;
    line-height: 70px;
    font-weight: 500;
    margin-bottom: 60px;
}
.popular-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

}
.card{
   padding: 20px;
  box-shadow: 10px 1px 37px rgb(99, 99, 99);
   border-radius: 7px;
}
.card-title{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 40px;
    margin-top: 10px;
}
.card-price{
    font-size: 1.5rem;
    line-height: 36px;
    font-weight: 400;
}
.a{
    color: rgb(255, 173, 21);
    font-size: 14px;
    line-height: 21px;
}
.ab{
    font-size: 14px;
    margin-left: 10px;
    line-height: 21px;
}
.popular-discreption{
    width: 196px;
    margin-top: 10px;
}
.popular-discreption p{
    color: rgba(120, 120, 133, 1);
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}
.span-2{
    display:block;
}
/* card-section-end */

.contact-product{
    margin: 90px 0;
    gap: 90px;
    align-items: center;
}
.product-image{
    width: 40%;

}
.product-content{
    width: 59%;
}
.product-title{
    font-size: 38px;
    font-weight: bold;
    line-height: 55px;
}
.product-discreption{
    max-width: 501px;
    margin: 20px 0;
    color: #6C6C6C;
    font-size: 1rem;
}
.product-btn{
    background-color: #E02C6D;
    border: none;
    border-radius: 3px ;
    padding: 10px 24px;
}
.product-btn a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
}
.product-btn a i{
    color: white;
    margin-left: 5px;
    font-size: 1rem;
}








/* Responsive style  */

/* mobile-device */
@media screen and (max-width:576px){
    nav, ul{
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
        
    }
    .banner-title{
   margin-top: 40px;
}
/* brand-section-responsive */

.brand{
   
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 30px;
    align-items: center;
    
    
}
/* card-section */
.popular-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;

}
/* product-section */
.contact-product{
    flex-direction: column-reverse;
    justify-content: center;
}
.product-image{
    width: 100%;

}
.product-content{
    width: 100%;
}


}
/* footer */
.footer-bg{
    background-color: black;
    padding: 70px 0;
    color: aliceblue;
}
.footer-title{
    max-width: 262px;
    margin: 0 auto;
    text-align: center;
}
.f-heading{
    font-size: 1.5rem;
    line-height: 34px;
    font-family: "poppins"sans-serif;
    font-weight: 600;
    margin: 10px 0;
}
.f-icon{
    
    margin: 15px 0;
}
.f-icon i{
    color: white;
    font-size: 16px ;
    margin: 0 8px;
}


/* tab-mobile-device */
@media  screen and (min-width:576px) and (max-width:992px) {
     nav,ul{
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
        
    }
     .banner-title{
   margin-top: 40px;
}
/* brand-section-responsive-tab */
.brand{
   
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 40px;
    align-items: center;
    justify-content: center;  
}
/* brand-section-responsive-tab-end */

/* card-section */
.popular-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}
}